@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "DM Mono", ui-monospace, SFMono-Regular, monospace;

  --color-surface: #0e0e0e;
  --color-surface-low: #131313;
  --color-surface-card: #191a1a;
  --color-surface-high: #1f2020;
  --color-on-surface: #ffffff;
  --color-brand-blue: #0055FF;
  --color-border-dim: #2A2A2A;
  --color-border-accent: #484848;
}

@layer base {
  body {
    @apply bg-surface text-on-surface antialiased selection:bg-brand-blue selection:text-white;
  }
}

@layer components {
  .technical-stroke {
    @apply border border-border-dim;
  }
}
